@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'moonshinerregular';
  src: url('fonts/moonshiner-regular-webfont.woff2') format('woff2'),
       url('fonts/moonshiner-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Beige, consider removing*/
@font-face {
  font-family: 'moonshinerregular_lines';
  src: url('fonts/moonshiner-regularlines-webfont.woff2') format('woff2'),
       url('fonts/moonshiner-regularlines-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Italic verson*/
@font-face {
  font-family: 'moonshineroblique';
  src: url('fonts/moonshiner-oblique-webfont.woff2') format('woff2'),
       url('fonts/moonshiner-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Doesn't Work? consider removing*/
@font-face {
  font-family: 'moonshineroblique_lines';
  src: url('moonshiner-obliquelines-webfont.woff2') format('woff2'),
       url('moonshiner-obliquelines-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*
Imported Font names:
 *Roboto - (thin/regular/bold/etc..)
  font-family: "Roboto", sans-serif;
  font-weight:(100/400/700/etc..);
  font-style:(normal/italic);

 *Unbuntu - (light/regular/bold/etc..)
  font-family: "Unbuntu", sans-serif;
  font-weight:(300/400/700/etc..);
  font-style:(normal/italic);

 *Cormorant Garamond - (light/regular/bold/etc..)
  font-family: "Roboto", serif;
  font-weight:(300/400/700/etc..);
  font-style:(normal/italic);
*/

/* Use * for debugging */
*{

}
.error{
  text-wrap:wrap;
  text-decoration: underline;
  font-weight: bold;
  color: red;
}
:root{
  --white: #FFFFFF;
  --black: #000000;
  --burgundy: #800020;
  --coffee: #99592A;
  --lightbrew: #B06630;
  --chocolatebar: #402612;
  --parchment: #fffdd0;
  --sunbleached: #E9D0AF;
  --magnolia: #426A5A;
  --mint: #c0f2dd;
}

html{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h3, h4{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a{
  color:var(--black);
  text-decoration:none;
}

body{
  padding:0;
  margin:0 auto;
  height:100%;
  display:flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.nodotsul,.nodotsul li{
  padding:0;
  list-style-type: none;
}
/* Header and its css content */
header{
  /*Regretably needed to repeat display to work*/
  display:flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1%;
  background-image: linear-gradient(to top, var(--lightbrew) 1% , var(--coffee) 40%);
}

header nav{
  display:flex;
  width:75%;
  justify-content: center;
}

  header nav ul {
    display:flex;
    list-style-type: none;
    gap: 0.5em;
    flex-wrap:nowrap;
    
  }
  header nav ul li{
    margin: 0 12px 0 12px;
  }
  header ul li a {
    text-decoration: none;
    background-color: var(--magnolia);
    color:var(--mint);
    text-transform: uppercase;
    font-size: 1rem;
    border-radius:4px;
    border:1px solid black;
    cursor:pointer;
    padding: 2px;
    font-family:'Roboto';
  }
/*
commented out due to time and it looking ugly.
    header ul li a:hover{
      background:linear-gradient(to bottom, white 5%, skyblue 100%);
    }
    
    header .active{
      background:linear-gradient(to bottom, blue 5%, white 100%);
      border:1px solid blue;
      background-color:blue;
      color: black;
    } */

/*Main content*/
main{
  background-color: var(--parchment);
  width:64%;
  /*Look for me if you can't make a line across the
  borders of the main section.
  Padding in main overrides all?
  */
  padding: 0% 1% 0% 1%;
}

/*Left and Right borders*/
.leftSpace{
  width:17%;
  /* background-image:linear-gradient(to right, var(--black) 0%, var(--parchment) 90%); */
  background-image: url("../img/BurntEdgesSharpRight.png"), linear-gradient(to left, var(--parchment) 78% , var(--coffee) 100%);
  background-repeat: repeat-y;
  background-position: left;
  background-color: var(--parchment);
}
.rightSpace{
  width:17%;
  background-image: url("../img/BurntEdgesSharpLeft.png"), linear-gradient(to right, var(--parchment) 78% , var(--coffee) 100%);
  background-repeat: repeat-y;
  background-position: right;
  /* background-color: var(--parchment); */
}
.endSpace{
  width: 20px;
  height: 60px;
  
}
footer{
  display:flex;
  flex-flow:row;
  margin:0;
  width: 100%;
  background-color: var(--coffee);
  background-image: linear-gradient(to bottom, var(--lightbrew) 0% , var(--coffee) 40%);
  min-height: 40px;
}

/* Home Page */
.subtext {
  font-size:small;
  font-style:italic;
  color:var(--chocolatebar);
  margin: 0;
  margin-bottom: 8px;
}
.welcome h2{
  font-size: 3rem;
  margin: 0;
}
.welcome p{
  margin-bottom: 16px;
}


.explanation h2, .explanation p{
  margin: 0;
  margin-bottom: 1%;
  font-size: 2rem;
}
.explanation p{
  font-size: 1rem;
}
.jumpTo li{
  margin-bottom: 8px;
  
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jumpTo a{
  text-decoration: none;
  padding: 1px;
  border-radius: 4px;
  border: 2px solid var(--black);
  background-color: var(--burgundy);
  color: var(--white);
}
.jumpTo p {
  margin: 0;
  margin-top: 3px;
  display: inline;
}
.jumpTo a:hover{
  transition: 0.2s ease-in-out;
  background-color: var(--black);
  color: var(--mint);
}
#helpfulTools h2{
  margin-block-end: 0px;
}
#helpfulTools li a {
  font-size: 1.5rem;
  font-weight:400;
  border-bottom: 2px solid var(--black);
}
/*Action List Page*/
  #actionListBody{
    background-color: var(--magnolia);
  }

  #leftActionBar{
    width: 10%;
    background-image: url("../img/BurntEdgesSharpRight.png"), linear-gradient(to left, var(--parchment) 50% , var(--coffee) 110%);
  }
  #mainActionBar{
    width:75%;
  }
  #mainActionBar ul {
    text-decoration: none;
    list-style-type: none;
    padding:0;
  }

  .navbar{
    order: 1;
      overflow: hidden;
      width:13%;
      background-color:var(--magnolia);
      position:-webkit-sticky;
      position:sticky;
      top: 0;
      height: fit-content;
  }
  .navbar ul{
    word-wrap: break-word;
  }
  .navbar li {
    overflow: hidden;
    text-decoration: none;
    width: 100%;
    padding-top: 1%;
    border-bottom:1px solid var(--black);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .navbar li a {
    color: inherit;
    text-decoration: inherit;
    padding-left:10px;
  }
  .navbar:hover{
    width: 23%;
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(to right, var(--magnolia) 45% , var(--mint) 300% );
  } 
  .navbar:hover + #mainActionBar{
    width:65%;
    transition: 0.2s ease-in-out;

  }
  .navbar li:hover{
    color: var(--white);
    background-color: var(--burgundy);
    border-radius: 2px;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom:3px solid var(--black);
    transition: 0.2s ease-in-out;

  }

  .container { 
    display: flex;
    height: auto; 
    background-color: var(--sunbleached);
    border: 6px solid var(--black); 
    padding: 2% 4% 2% 4%;
    border-radius: 3px;
    box-shadow: var(--black); 
    flex-wrap: wrap;
    flex-flow:column;
    margin-bottom: 25px;
  }
  .container p{
    margin: 6px 0 6px 0;
    font-weight: 300;
    font-size: 0.95rem;
    font-style: normal;
  }
  .line {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    border-bottom: 2px solid var(--black);
  }
  .container .titleLine h2 {
    font-family: moonshinerregular;
    font-size: 2rem;
    padding-right: 1%;
    text-wrap:nowrap;
    flex-shrink: 0;
    letter-spacing: 1px;
    /*Don't remove margin-block-end/start*/
    margin-block-end: 0;
    margin-block-start: 2px;
  }
  .titleLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  .actionIcon {
    max-width: 120px;
    max-height: 40px;
    margin-top: 24px;
    margin-block-start: 0;
  }

  .actionAttributes h4{
    line-height: 1.35rem;
    margin-block-end: 6px;
    margin-block-start: 6px;
    
  }
  .container_box { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 2vw; 
    flex-wrap: wrap; 
    margin-top: 20px; 
  } 

  /* unused */
  .cardutility { 
    height: 80px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    font-size: 20px; 
    border-radius: 10px;
  } 
  /* back to being used */
  .tag{
    text-decoration: none;
    padding: 1px;
    border-radius: 0px;
    border: 2px solid var(--black);
    background-color: var(--burgundy);
    color: var(--white);
  }
  #actionFooter{
    display: flex;
    flex-flow:row;
    order: 2;
    width: 100%;
    height: auto;
  }
  /* glossary */
  .glossary h2{
    border-bottom: 2px solid var(--black);
    margin-bottom: 5px;
  }
  .glossary p {
    margin: 0;
  }
